/**** a monochrome stylesheet for people with visual problems ***/
/********* styles for basic page layout ******/

#baseMenu 
{
	position:absolute; 
	top: 18px;
	left: 13px; 
	width:100px; 
	height:100%;	
}

#baseContent
{
	/*
	position:absolute; 
	top: 18px;
	left: 113px; */
	min-height:0px;
	padding-top:10px;
	margin-left:108px;
	padding-right:10px;
}

/* holly hack to get 100% widths working inside baseContent DIV */
/* by triggering hasLayout */
/* Hides from IE-mac \*/
* html #baseContent {height: 1%;}
/* End hide from IE-mac */

/**** end of styles for basic page layout ******/
/************* styles for menu-bar ****************/
TABLE.mnMenuBar
{
	background-color:Black;
	border-right: White 1px solid;
	padding-right: 1px;
	border-top: White 1px solid;
	padding-top:1px;
	border-left:White 1px solid;
	padding-left:1px;
	border-bottom:White 1px solid;
	
	padding-bottom:1px;
}
TABLE.mnMenuBarTraining
{
	background-color:Black;
	border-right: White 1px solid;
	padding-right: 1px;
	border-top: White 1px solid;
	padding-top:1px;
	border-left: White 1px solid;
	padding-left:1px;
	border-bottom: White 1px solid;
	padding-bottom:1px;
}
TABLE.mnMenuBar TD
{
	padding: 2px 5px 2px 5px;
}
TABLE.mnMenuBarTraining TD
{
	padding: 2px 5px 2px 5px;
	height: 0px;
}
TR.mnVertSpacer
{
	height:300px;	
}
TR.mnVertSpacer TD
{
	height:300px;	
}
SPAN.mnAppTitle
{
	font-size: 20px;
	color:White;
	font-family:Verdana,Arial
}

TD.mnAppIconCell
{
	width:50px;
}

TD.mnAppIconCell IMG
{
	height:75px;
	width:75px;
	BORDER-RIGHT: White 1px solid; 
	BORDER-TOP: White 1px solid; 
	BORDER-LEFT: White 1px solid; 
	BORDER-BOTTOM: White 1px solid;
}

TABLE.mnMenuList
{
	padding:0px;
	border-collapse:collapse;
}
TABLE.mnMenuList TR
{
	padding:0px;
}
TABLE.mnMenuList TD.mnMenuIcon
{
	padding:0px;
	vertical-align:middle;	
}
TABLE.mnMenuList TD.mnMenuText
{
	padding-left:4px;
	padding-top:0px;
	padding-bottom:0px;
	padding-right:0px;
	vertical-align:middle;	
	color: White; 
}

/* Start - Styles are added for Wendy menu */
SPAN.lblQuickLinks
{
	font-size: 12px;
	color:white;
	font-family:Verdana,Arial;
	font-weight:bold;
	font-style:italic
	
}
.pnlQuickLinks
{
	border-style:groove;
	height:120px;
	width:77px;
	text-align:center
}
TABLE.mnMenuBar TD.mnQuicklinks
{
	padding: 1px 1px 1px 1px;
}
TABLE.mnMenuBarTraining TD.mnQuicklinks
{
	padding: 1px 1px 1px 1px;
}
/* End - Styles are added for Wendy menu */

/* Addtional Styles for Wendy */

TABLE.wizardtable TD.tdAlignment1Wendy
{
vertical-align: top; 
padding-top: 6px; 
}
TABLE.wizardtable TD.tdAlignment2Wendy
{
vertical-align: top; 
padding-top: 6px; 
height: 65px
}

/**********end of styles for menu bar *************/
/********** icon  styles ***********/

/* extra selector here for when IMG is nested in hyperlink control */
IMG.icon24, A.icon24 IMG
{
	width:24px;
	height:24px;
	border: 0px;
	background-color:Silver;	
}
IMG.icon48
{
	width:48px;
	height:48px;
}
/*********** end of icon styles ************/
/************** styles for wait messages ******/
DIV.wmpWaitIcon
{
	/* embedding icon in stylesheet allows animation to run while page is loading */
	/* works for Firefox and IE6 but not IE7 */
	/*background: url('../images/waitanim.gif') 50% 50% no-repeat;*/
	width:32px;
	height:32px;	
	margin:0 auto 0 auto;
	background-color:White;
	
}
IMG #waitImage
{
	width:32px;
	height:32px;	
}
DIV.wmpMain
{
	position: absolute;
	background-color: Black;
	z-index: 100;
	
	padding-top: 100px;
}
DIV.wmpInner
{
	text-align:center;
	font-weight:bold;
}
/************** end of styles for wait messages ******/

/*************** styles for titlebar ******************/
TABLE.titlebartable
{
	border-collapse: collapse;
	background-color:Black;
	border-right: White 1px solid;
	padding-right: 5px;
	border-top: White 1px solid;
	padding-top:5px;
	border-left: White 1px solid;
	padding-left:5px;
	border-bottom: White 1px solid;
	padding-bottom:5px;
	width: 100%;

}
TABLE.titlebartable TD
{
	padding: 2px 5px 2px 5px;
	margin: 0px 0px 0px 0px;
	font-size: 20px;
	color:White;
	text-align:left;
}

TD.titleicon
{
	padding:0px;
}


/********** end of styles for titlebar ***********/

/********** styles for Navigation Bar **********/
TABLE.navigationbar 
{
	background-color:Black;
	border: 1px solid White; 
	border-left: 8px solid White;
	border-right: 8px solid White;
	margin-top:8px;
	margin-bottom:1px;
}

TD.STATUS_BAR_HEADER {
	background-color: Black;
	color: #ffffff;
	font-weight: bold;
}
/********** end of styles for Navigation Bar **********/
/******** styles for main menu page *********/
DIV.mainMenuBox
{
	/*font-weight: bold; 
	color: #333399; */
	background-color: Black; 
	margin-top:3px;
	margin-bottom:3px;
	padding-top:5px;
	padding-bottom:5px;
	text-align:center;
	
}
/********** default styles for pages *******/
body
{
	padding-left:5px;
	padding-right:5px;
	padding-top:8px;
	padding-bottom:8px;
	margin: 0px 0px 0px 0px;
	border: 0px 0px 0px 0px;
	font-family:Verdana, Arial;
	background-color:Black;
	color:White;
	font-size:11px
}

SPAN 
{
	padding-top: 5px
}
TD
{
	font-family:Verdana, Arial;
	font-size:11px;
}
SELECT
{
	font-family:Verdana, Arial;
	font-size:11px
}
INPUT
{
	font-family:Verdana, Arial;
	font-size:11px
}
TEXTAREA
{
	font-family:Verdana, Arial;
	font-size:11px
}
A:visited 
{
	color: White; 
	text-decoration: underline;
}
A:active 
{
	color: White; 
	text-decoration: underline;
}
A:hover 
{
	color: White; 
	text-decoration: underline;
}
A:link 
{
	color: White; 
	text-decoration: underline;
}

/************* end of default styles ********/
/**************** styles for data controls ***********/
INPUT.textbox
{
}
INPUT.textboxdisabled
{
	background-color: #dddddd;
}
TEXTAREA.textboxdisabled
{
	background-color: #dddddd;
}
/**************** end styles for data controls ***********/
/************** red BnbMessageBox styles *******/
SPAN.messagebox
{
	font-weight:bold;
	font-size:11px;
	color:White;
}
TABLE.messagegrid
{ 
	border-collapse:collapse;
	font-size:11px;
	color:White;
}
DIV.mbContainer
{
	padding: 5px 0px 5px 0px;
}
DIV.mbContainer P
{
	margin:0px 0px 4px 0px;
	padding: 0px 0px 0px 0px;
}
/************** end of red BnbMessageBox styles *******/
/************** editpage elements *******/
SPAN.databuttons 
{
	font-family:Verdana, Arial;
}
SPAN.databuttons INPUT
{
	margin-top:5px;
	margin-bottom:5px;
}

DIV.sectionheading
{
	font-weight:bold;
	padding:2px;
	border: White 1px solid; 
	background-color: Black;
	font-family:Verdana, Arial;
	font-size:11px;
	color:White;
	width:auto;
	margin-top: 5px;
	margin-bottom: 7px;
}

DIV.sectionheadingalt
{
	font-weight:bold;
	padding:2px;
	background-color: White;
	font-family:Verdana, Arial;
	font-size:11px;
	color:Black;
	width:auto;
}


SPAN.datagridgroupsplitter
{
	width:100%;
	font-weight:bold;
	padding:3px;
	font-family:Verdana, Arial;
	font-size:13px
}

DIV.sectionlinks 
{
	padding:3px;
	width:1px;
	border: #9966ff 1px solid;
	background-color: #ccccff; 
	text-align: center;
	font-weight: normal; 
	font-size: 11px; 
	font-family: Verdana, Arial, Helvetica, Sans-Serif;
}

/************* end of editpage elements *****/

/**************** field tables ***************/
/******** (tables with editable fields in) ****/
TABLE.fieldtable
{
	width:auto;
}

TABLE.fieldtable TD
{
	font-weight: normal; 
	color: White; 
	height: 25px;
	border-collapse:collapse;
	padding-left:5px;
	vertical-align:middle;
}
TABLE.fieldtable TD.label 
{
	font-weight: bold; 
	color: White; 
	height: 20px; 
	background-color: Black; 
	text-align: right;
	font-size: 11px;
	vertical-align:top;
	padding:5px
}
/********** end of fieldtable ****************/
/* Added for Xml import*/
TABLE.fieldtable TD.labelLeft 
{
	font-weight: bold; 
	color: White; 
	height: 20px; 
	background-color: Black; 
	text-align: left;
	font-size: 11px;
	vertical-align:top;
	padding:5px
}

/* Added for google map - Normal address screens*/
TABLE.gmaptableNormal  
{
	font-weight: normal; 
	color: White; 
	height: 25px;
	border-collapse:collapse;
	padding-left:5px;
	vertical-align:top;
	background-color: Black;
}

TABLE.gmaptableNormal TD.label 
{
	font-weight: bold; 
	height: 20px; 
	color:White;
	text-align: right;
	font-size: 11px;
	vertical-align:top;
	padding:5px
}

TABLE.gmaptableNormal TD.labelLeft 
{
	height: 20px; 
	text-align: left;
	color: Black;
	font-size: 11px;
	vertical-align:top;
	background-color: White;
	padding:5px
}
TABLE.gmaptableNormal TD.labelLeftBold
{
	font-weight: bold; 
	height: 20px; 
	color: White;
	text-align: left;
	font-size: 11px;
	vertical-align:top;
	padding:5px
}
TABLE.gmaptableNormal TD.labelHelp
{
	height: 20px; 
	text-align: left;
	color: White;
	font-size: 11px;
	vertical-align:top;
	padding:5px
}

/* Added for google map - wizard address screens*/

TABLE.gmaptableWizard  
{
	font-weight: normal; 
	color: White; 
	height: 25px;
	background-color: Black;
	border-collapse:collapse;
	padding-left:5px;
	vertical-align:top;
}

TABLE.gmaptableWizard TD.label 
{
	font-weight: bold; 
	height: 20px; 
	color: White;
	text-align: right;
	font-size: 11px;
	vertical-align:top;
	padding:5px
}

TABLE.gmaptableWizard TD.labelLeft 
{
	height: 20px; 
	text-align: left;
	color: Black;
	font-size: 11px;
	vertical-align:top;
	background-color: White;
	padding:5px
}
TABLE.gmaptableWizard TD.labelLeftBold
{
	font-weight: bold; 
	height: 20px; 
	color: White;
	text-align: left;
	font-size: 11px;
	vertical-align:top;
	padding:5px
}
TABLE.gmaptableWizard TD.labelHelp
{
	height: 20px; 
	text-align: left;
	color: White;
	font-size: 11px;
	vertical-align:top;
	padding:5px
}
/********** end of fieldtable ****************/

/*********** Find Geographical ***********************/
.divScroll
{
	overflow:auto; 
	height:450px
}

TD.slist
{
	vertical-align:top;
	text-align:left;
	width:25%
}
TD.sMap
{
	color:Black;
	vertical-align:top;
	text-align:left;
	width:75%
}
TD.sMap a
{
	color:Black;
}
TD.sMap a:hover
{
	color:Black;
}
.boldText
{
	font-weight:bold;
}
/*********** end of Find Geographical ***********************/
/*********** datagrids ***********************/
/**** (domain object or view grids) **********/
TABLE.datagrid
{
	font-size: 11px; 
	width: 100%; 
	border-collapse: collapse;
	border-style:solid;
	border-width:1px;
	border-color:White;
}
TABLE.datagrid TH
{
	text-align: left;
	font-weight: bold; 
	font-size: 12px; 
	color: White; 
	height: 30px; 
	background-color: Black;
	padding-left:5px;
	border-style:solid;
	border-width:1px;
	border-color:White;
}
TABLE.datagrid TD
{
	font-weight: normal; 
	color: White; 
	height: 25px;
	border-collapse:collapse;
	padding-left:5px;
	vertical-align:middle;
	border-style:solid;
	border-width:1px;
	border-color:Silver;
}
/* style for headers of generic grids not using TH*/
TR.datagridheader TD
{
	text-align: left;
	font-weight: bold; 
	font-size: 12px; 
	color: White; 
	height: 30px; 
	background-color: Black;
	padding-left:5px;
	border-style:solid;
	border-width:1px;
	border-color:Silver;
}

SPAN.dgvNoResults
{
	color: White; 
}
/*************** end of datagrids ***********/

/*********** menu styles ******************/
TABLE.menutable TD
{
	height: 25px;
	border-collapse:collapse;
	padding-left:5px;
	vertical-align:middle;	
}
/************* end of menu styles ***********/
/*********** error page styles **************/
TABLE.errortable
{
	BORDER:White 1px solid; 
	width:100%;
	BORDER-COLLAPSE:collapse;
}
TABLE.errortable TD
{
	padding: 5px 5px 5px 5px;
}
	
/*********** end of error page styles **************/
/********** reports styles *********************/

TABLE.reportinfo {
	width: 100%; BORDER-COLLAPSE: collapse
}
TABLE.reportinfo TD {
	border-right: silver 1px solid; padding-right: 8px; BORDER-TOP: silver 1px solid; padding-left: 4px; padding-bottom: 1px; border-left: silver 1px solid; padding-top: 1px; BORDER-BOTTOM: silver 1px solid; BORDER-COLLAPSE: collapse
}
TABLE.reporttable {
	border-right: thin; padding-right: 2px; BORDER-TOP: thin; padding-left: 2px; font-size: 0.95em; padding-bottom: 2px; border-left: thin; padding-top: 2px; BORDER-BOTTOM: thin
}
TABLE.reporttable TD {
	border-right: medium none; BORDER-TOP: medium none; MARGIN-TOP: 0px; MARGIN-BOTTOM: 0px; border-left: medium none; BORDER-BOTTOM: 1px; BACKGROUND-COLOR: #333333; font-size:10px
}
TR.columnheading {
	font-weight: bold
}
TD.space {
	BACKGROUND-COLOR: black
}
TD.groupheader {
	border-right: medium none; BORDER-TOP: medium none; MARGIN-TOP: 0px; font-weight: bold; font-size: 1.1em; MARGIN-BOTTOM: 0px; border-left: medium none; BORDER-BOTTOM: 1px; BACKGROUND-COLOR: #333333
}
TD.groupfooter {
	border-right: medium none; BORDER-TOP: medium none; MARGIN-TOP: 0px; font-weight: bold; MARGIN-BOTTOM: 0px; border-left: medium none; BORDER-BOTTOM: 1px; BACKGROUND-COLOR: #333333
}
DIV.GreySectionHeading {
	border-right: #000000 1px solid; padding-right: 3px; BORDER-TOP: #000000 1px solid; padding-left: 3px; padding-bottom: 3px; border-left: #000000 1px solid; width: 100%; padding-top: 3px; BORDER-BOTTOM: #000000 1px solid; HEIGHT: 20px; BACKGROUND-COLOR: #ebebeb
}
DIV.GreySectionHeadingLabel {
	FLOAT: left; TEXT-ALIGN: left
}
.sectionHeading {
	font-weight: bold; font-size: 14px; WORD-SPACING: normal; TEXT-TRANSFORM: none; FONT-STYLE: normal; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif; LETTER-SPACING: normal; TEXT-DECORATION: none
}
TABLE.reportcontents {
	border-right: thin; padding-right: 2px; BORDER-TOP: thin; padding-left: 2px; padding-bottom: 2px; border-left: thin; padding-top: 2px; BORDER-BOTTOM: thin
}
TABLE.reportcontents TD {
	border-right: medium none; padding-right: 4px; BORDER-TOP: medium none; MARGIN-TOP: 0px; padding-left: 4px; MARGIN-BOTTOM: 0px; padding-bottom: 1px; border-left: medium none; padding-top: 1px; BORDER-BOTTOM: 1px; BACKGROUND-COLOR: #333333
}
.reportItemSummary
{
	font-weight:bold;
}
/********** end of reports styles *********************/
/********** wizard styles *******************/
DIV.wizardheader
{
	background-color:Black;
	font-family:Verdana, Arial;
	color:White;
	font-size:11px;
	border-right: White 10px solid; 
	padding-right: 10px; 
	BORDER-TOP: White 10px solid; 
	padding-left: 10px; 
	padding-bottom: 10px; 
	border-left: White 10px solid; 
	width: 95%;
	padding-top: 10px; 
	BORDER-BOTTOM: White 10px solid;
		
}

DIV.wizardpanel
{
	background-color:Black;
	font-family:Verdana, Arial;
	color:White;
	font-size:11px;
	
	/*MARGIN-RIGHT: 10px;
	MARGIN-LEFT: 10px;*/
	MARGIN-TOP: 10px;
	MARGIN-BOTTOM: 10px;
	border-right: White 10px solid; 
	BORDER-TOP: White 10px solid; 
	border-left: White 10px solid; 
	BORDER-BOTTOM: White 10px solid;
	padding-right: 10px; 
	padding-left: 10px; 
	padding-bottom: 10px; 
	padding-top: 10px; 
	width: 95%;
}
SPAN.feedback
{
	color:#ff0000;
	font-weight: bold;
}
TABLE.wizardtable TD
{
	font-weight: normal; 
	color: White; 
	height: 25px;
	border-collapse:collapse;
	padding-left:5px;
	vertical-align:middle;
}
TABLE.wizardtable TD.label 
{
	font-weight: bold; 
	height: 20px; 
	background-color: Black; 
	text-align: right;
	font-size: 11px;
	vertical-align:top;
	padding:5px
}
DIV.loadingmessage
{
	text-align:center;
	font:caption
}
/********** wizard styles *******************/

/************** BnbDataGrid Tab styles **************/
/*** (as used in Starfish vols-overseas tabbed listing) ******/
/*** (not the BnbTabControl - thats different)          ******/
TABLE.tabbody { vertical-align: top; width: 100%;}
TD.activetab
{ 
	border-right: black 1px solid; 
	BORDER-TOP: black 1px solid; 
	border-left: black 1px solid; 
	padding-right: 5px; 
	padding-left: 5px; 
	font-weight: bold; 
	font-size: 8pt; 
	padding-bottom: 5px; 
	vertical-align: top; 
	width: 100%; 
	padding-top: 5px; 
	background-color: #f2f2ff
}
TD.activetab_leftcolumn
{ 
	border-bottom: black 1px solid; 
	BORDER-TOP: black 1px solid; 
	border-left: black 1px solid; 
	padding-right: 5px; 
	padding-left: 5px; 
	font-weight: bold; 
	font-size: 8pt; 
	padding-bottom: 5px; 
	vertical-align: top; 
	width: 100%; 
	padding-top: 5px; 
	background-color: #f2f2ff
}
TD.inactivetab 
{ 
	border-right: silver 1px solid; 
	padding-right: 5px; 
	padding-left: 5px; 
	font-weight: bold; 
	font-size: 8pt; 
	padding-bottom: 5px; 
	vertical-align: top; 
	border-left: silver 1px solid; 
	width: 100%; 
	padding-top: 5px; 
	border-top:silver 1px solid
}
TD.inactivetab_leftcolumn
{ 
	border-bottom: silver 1px solid; 
	padding-right: 5px; 
	padding-left: 5px; 
	font-weight: bold; 
	font-size: 8pt; 
	padding-bottom: 5px; 
	vertical-align: top; 
	border-left: silver 1px solid; 
	width: 100%; 
	padding-top: 5px; 
	border-top:silver 1px solid
}
TD.deadtab 
{
	color:Silver; 
	border-right: silver 1px solid; 
	padding-right: 5px; 
	padding-left: 5px; 
	font-weight: bold; 
	font-size: 8pt; 
	padding-bottom: 5px; 
	vertical-align: top; 
	border-left: silver 1px solid; 
	width: 100%; 
	padding-top: 5px; 
	border-top:silver 1px solid
}
TD.deadtab_leftcolumn 
{
	color:Silver; 
	border-bottom: silver 1px solid; 
	padding-right: 5px; 
	padding-left: 5px; 
	font-weight: bold; 
	font-size: 8pt; 
	padding-bottom: 5px; 
	vertical-align: top; 
	border-left: silver 1px solid; 
	width: 100%; 
	padding-top: 5px; 
	border-top:silver 1px solid
}
/************** end of BnbDataGrid Tab styles **************/
/************ NavigatePanel.ascx UserControl **************/
DIV.navigatetop
{
	border: 1px solid White; 
	border-left: 8px solid White;
	background-color: Black;
	font-family:Verdana, Arial;
	font-size:11px;
	color:White;

	margin: 8px auto 0 auto;
	padding: 3px;
	text-align:left;
	width:180px;
}

DIV.navigatemain
{
	background: Black; 
	border: 1px dotted White; 
	border-left: 8px solid White;
	border-top: 0;
	color: White;
	padding: 4px;
	margin: 0 auto 8px auto;	
	text-align: left;
	width:180px;
}

/********* end of NavigatePanel.ascx UserControl **************/

/*********** styles for view warnings  **************/
span.viewwarning
{
	/*float:right;
	clear:left;*/
	color:#FFA500;
	font-weight:bold;
	padding-right:20px;
	padding-bottom:5px;
}
/*********** end of styles for view warnings  **************/
/*********** styles for BnbQueryBuilderComposite ************/
/*** (i.e. criteria builder on Query page) ***/

/* drop down showing field names */
select.qbFieldDropDown
{
	/*width:250px;*/
	height:22px;
	vertical-align:middle;	
}

/* drop down showing compare options (begins with, is empty etc) */
select.qbEnumDropDown
{
	/*width:250px;*/
	height:22px;
	vertical-align:middle;	
}

/* drop down showing lookup values (countries, etc) */
select.qbLookupDropDown
{
	width:200px;
	height:22px;
	vertical-align:middle;	
}

/* list showing lookup values (countries, etc) */
select.qbLookupList
{
	width:200px;
	height:100px;
	vertical-align:middle;	
}

input.qbText
{
	width:200px;
	height:16px;
	vertical-align:middle;	
	/*padding: 1px 0px 1px 0px;*/
}

input.qbDateBox
{
	width:90px;
	height:16px;
	/*vertical-align:middle;*/
	/*margin: 1px 0px 1px 0px;*/
}

input.qbNumberBox
{
	width:90px;
	height:16px;
	/*vertical-align:middle;*/
	/*margin: 1px 0px 1px 0px;*/
}

input.qbCheckbox
{
	vertical-align:middle;
	/*margin: 1px 0px 1px 0px;*/
}

input.qbAddButton
{
	height:18px;
	vertical-align:middle;
}

input.qbAdvancedButton
{
	width:100px;
	margin: 0px 2px 10px 2px;
	/* this makes 1 button per row */
	display:block;
}

table.qbMain
{
	background-color: Black; 
	border: solid 1px White;
	padding: 10px 10px 10px 10px;
	clear:both;	
	width:100%;
}


td.qbWhereTableEnclosingCell
{
	padding: 10px 10px 10px 10px;
}

td.qbAdvancedCellOff
{
	padding: 5px 2px 5px 2px;
	width:106px;
}

td.qbAdvancedCellOn
{
	background-color: #222222;
	padding: 5px 2px 5px 2px;
	width:106px;
}

td.qbAddFilterCell
{
	padding: 5px 10px 10px 10px;
}


table.qbWhereTable
{
	border-collapse: collapse;
	/*border-style:dotted;
	border-width:1px;
	border-color:Silver;*/
	/*margin-bottom: 10px;*/
	width:100%;
	
}

table.qbWhereTable td.qbWhereCell
{
	border-collapse:collapse;
	vertical-align:middle;
	border-style:dotted;
	border-width:1px;
	border-color:Silver;
	padding: 2px 4px 2px 4px;
	width: 10px;
}

table.qbWhereTable td.qbFieldNameCell 
{
	border-collapse:collapse;
	vertical-align:middle;
	border-style:dotted;
	border-width:1px;
	border-color:Silver;
	padding: 2px 4px 2px 4px;
	width: 120px;
}


table.qbWhereTable td.qbValueCell 
{
	border-collapse:collapse;
	vertical-align:middle;
	border-style:dotted;
	border-width:1px;
	border-color:Silver;
	padding: 2px 4px 2px 4px;
	width: 210px;
}

table.qbWhereTable td.qbExtraCell
{
	border-collapse:collapse;
	vertical-align:middle;
	border-style:none;
	padding: 2px 4px 2px 4px;
	width: 10px;
}

table.qbWhereTable td.qbCheckboxCell
{
	text-align: right;
	border-collapse:collapse;
	vertical-align:middle;
	border-style:none;
	padding: 2px 4px 2px 4px;
}

table.qbWhereTable td.qbSpacerCell
{
	border-collapse:collapse;
	vertical-align:middle;
	border-style:none;
	padding: 2px 4px 2px 4px;
	width:auto;
}

table.qbWhereTable td.qbBracketCell
{
	border-collapse:collapse;
	vertical-align:middle;
	border-style:none;
	padding: 2px 4px 2px 4px;
	font-weight: normal;
	font-size: larger;
	width: 10px;
}

td.qbWarningMessage
{
	color: Red;
	font-weight: bold;
}

td.qbSummaryMessage
{
	width: 800px;
}

/******** end of styles for BnbQueryBuilderComposite ************/
/************* styles for BnbSmartGrid *****************/
/*** (i.e. results grid on Query page) ***/
TABLE.sgTable
{
	border-style:solid;
	border-collapse:collapse;
	border-width:1px;
	border-color:White;	
}
TR.sgOuterRow
{
	border-style:none;
	border-width: 0px;
	padding: 0 0 0 0;
	margin: 0 0 0 0;	
}
TR.sgOuterRow TD
{
	border-style:none;
	border-width: 0px;
	padding: 1px 1px 1px 1px;
	margin: 0 0 0 0;	
}
TABLE.sgInner
{
	border-style:solid;
	border-color: White;
	border-collapse:collapse;
	border-width:1px;
	padding: 0 0 0 0;
	margin: 0 0 0 0;
}
TR.sgUtilityRow
{
	background-color: Black; 
}
TR.sgUtilityRow TD
{
	border-collapse:collapse;
	border-bottom: solid 1px white;
	padding-bottom: 6px;
	padding-left: 3px;
	padding-right: 3px;
	padding-top: 3px;
}
TR.sgColHeader 
{
	background-color: Black; 	
	padding-top: 6px;
}
TR.sgColHeader TD
{
	font-weight: bold;	
	padding-left: 3px;
	padding-right: 3px;
	border:solid 1px White;
	border-collapse:collapse;	
	
}
TR.sgDataRow TD
{
	padding-left: 3px;
	padding-right: 3px;
	border-style:solid;
	border-collapse:collapse;
	border-width:1px;
	border-color:White;
}
A.sgColAdjuster
{
	color: White;
	font-weight: bold;
	padding: 0px 5px 0px 5px;	
}
A.sgColAdjuster:visited
{
	color: White;
}
A.sgColAdjuster:hover
{
	background-color: Black; 
}
A.sgColHeader:link
{
	color: White;
	font-weight: bold;
	padding: 0px 5px 0px 5px;	
}
A.sgColHeader:visited
{
	color: White;
}

A.sgColHeader:hover
{
	background-color: Black; 
}

INPUT.sgToggle
{
	width:80px;
	padding:0px 5px 0px 5px;
	margin:1px 1px 1px 1px;
	
}

INPUT.sgButton
{
	padding:0px 5px 0px 5px;
	margin:1px 1px 1px 1px;	
}
/************* end of styles for BnbSmartGrid *****************/
/********* styles for BnbTabControl *******************/

.tcTab
{
	 
}


.tcButtonWrapper
{
	/* having this invisible border makes IE render the tabsstrip better*/
	 border: solid 1px Black; 
}


.tcButtonDefaultStyle
{
	background-color:Black;
	font-weight:bold;
	color:White;
	text-align:center;
	padding:5px 15px 5px 15px;
	border-width:4px;
	border-color:Silver;
	border-style:outset; 
	float:left;
	margin-right: 4px;
	margin-bottom: 4px;
	width:auto;
	cursor: hand;
}

.tcButtonEnd
{
	clear:left;
}

.tcButtonHoverStyle
{
	background-color:Black;
	font-weight:bold;
	color:White;
	text-decoration: underline;
	text-align:center;
	padding:5px 15px 5px 15px;
	border-width:4px;
	border-color:Silver;
	border-style:outset; 
	float:left;
	margin-right: 4px;
	margin-bottom: 4px;
	width:auto;
	cursor:pointer;
}

.tcButtonSelectedStyle
{
	background-color:#ffffff;
	color:#000000;
	border-style:inset;
	font-weight:bold;
	text-align:center;
	padding:5px 15px 5px 15px;
	border-width:4px;
	border-color:Silver;
	float:left;
	margin-right: 4px;
	margin-bottom: 4px;
	width:auto;
	cursor: default;
}

/* used only when ShowAllTabsVertically is switched on */
DIV.tcSectionHeading
{
	font-weight:bold;
	padding:2px;
	padding-left:6px;
	border: #008000 1px solid; 
	background-color: #ebffeb;
	font-family:Verdana, Arial;
	font-size:14px;
	color:#9966ff;
	width:auto;
	margin-top: 5px;
	margin-bottom: 7px;
}

/* used only when ShowAllTabsVertically is switched on */
DIV.tcSectionLinks 
{
	width:auto;
	padding:3px;
	border: #008000 1px solid;
	background-color: #ffffff; 
	text-align: left;
	font-weight: normal; 
	font-size: 11px; 
	font-family: Verdana, Arial, Helvetica, Sans-Serif;
}

/********* end of styles for BnbTabControl *******************/
/*********** styles for Splashscreen (login page) *************/

table.splashTable
{
	/*width:600px;
	height:440px;	*/
	border-collapse:collapse;
}
td.splashCell
{
	padding: 5px 5px 5px 5px;	
	border: solid 10px white;
	width: 280px;
	height: 220px;
	vertical-align: middle;
	text-align: center;
	background-color: #ebffeb; 
	
}
td.spashCell IMG
{
	border: solid 5px white;	
}
#splashLoginTable
{
	margin-left: auto; 
	margin-right: auto;	
}
div.splashVSOLogo
{
	background-color: White;
	padding: 5px 2px 0px 2px;	
	width: 133px;
	height: 133px;
	margin-left: auto; 
	margin-right: auto;
}

/*********** end of styles for Splashscreen (login page) *************/
/**** styles for PMF Status Panel (project page) *******/

table.pmfStatusBar 
{
	margin-top:8px;
	margin-bottom:1px;
	border: solid 1px silver;
	padding-top:4px;
	padding-bottom:4px;
	background-color: #EEEEEE;
}
table.pmfStatusBar td
{
	border-collapse:collapse;
	border: solid 1px black;
	padding: 2px 4px 2px 4px;
	margin-top:4px;
	margin-bottom:4px;
	text-align: center;
	background-color:white;
}
table.pmfStatusBar td.pmfArrowCell
{
	border: 0px;
	padding-left: 4px;
	padding-right: 4px;
	background-color:Transparent;
	
}
table.pmfStatusBar td.pmfLabelCell
{
	color: #333399; 
	background-color:Transparent;
	text-align: left;
	padding-left:3px;
	padding-right:13px;
	border: none; 
	font-weight:bold	
}

table.pmfStatusBar td.pmfSelectedCell
{
	
	background-color: #eeddff; 
	font-weight:bold	
}
/**** end of styles for PMF Status Panel (project page) *******/

table.volCountMatrixTable td.volCountMatrixHeadFirst
{
	font-weight: bold; 
	color: white; 
	height: 20px; 
	background-color: black; 
	text-align:left;
	font-size: 11px;
	vertical-align:middle;
	padding:5px;
	width:40%
}

table.volCountMatrixTable td.volCountMatrixHeadRest
{
	font-weight: bold; 
	color: white; 
	height: 20px; 
	background-color: black; 
	text-align:center;
	font-size: 11px;
	vertical-align:middle;
	padding:5px;

}

table.volCountMatrixTable td.volCountMatrixRowFirst
{
	font-weight: bold; 
	color: #000000; 
	height: 20px; 
	background-color: #ffffff; 
	text-align:left;
	font-size: 11px;
	vertical-align:middle;
	padding:5px;
	width:40%
}

table.volCountMatrixTable td.volCountMatrixRowRest
{
	font-weight: bold; 
	color: #000000; 
	height: 20px; 
	background-color: #ffffff; 
	text-align:center;
	font-size: 11px;
	vertical-align:middle;
	padding:5px;

}

table.volCountMatrixTable td.volCountMatrixRowFoot
{
	border-left:0;
	border-bottom:0;
}