/********* styles for basic page layout ******/

#baseMenu 
{
	position:absolute; 
	top: 18px;
	left: 13px; 
	width:100px; 
	height:100%;	
}

#baseContent
{
	/*
	position:absolute; 
	top: 18px;
	left: 113px; */
	min-height:0px;
	padding-top:10px;
	margin-left:108px;
	padding-right:10px;
}

/* holly hack to get 100% widths working inside baseContent DIV */
/* by triggering hasLayout */
/* Hides from IE-mac \*/
* html #baseContent {height: 1%;}
/* End hide from IE-mac */

/**** end of styles for basic page layout ******/
/************* styles for menu-bar ****************/
TABLE.mnMenuBar
{
	background-color:#eeddff;
	border-right: #000000 1px solid;
	padding-right: 1px;
	border-top: #000000 1px solid;
	padding-top:1px;
	border-left:#000000 1px solid;
	padding-left:1px;
	border-bottom:#000000 1px solid;
	padding-bottom:1px;

}
TABLE.mnMenuBarTraining
{
	/* #f6d6ff for training? */
	background-color:#eeddff;
	border-right: #000000 1px solid;
	padding-right: 1px;
	border-top: #000000 1px solid;
	padding-top:1px;
	border-left:#000000 1px solid;
	padding-left:1px;
	border-bottom:#000000 1px solid;
	padding-bottom:1px;
}
TABLE.mnMenuBar TD
{
	padding: 2px 5px 2px 5px;
}
TABLE.mnMenuBarTraining TD
{
	padding: 2px 5px 2px 5px;
	height: 0px;
}
TR.mnVertSpacer
{
	height:300px;	
}
TR.mnVertSpacer TD
{
	height:300px;	
}
SPAN.mnAppTitle
{
	font-size: 20pt;
	color:#0066ee;
	font-family:Verdana,Arial
}

TD.mnAppIconCell
{
	width:50px;
}

TD.mnAppIconCell IMG
{
	width:57px;
	height:50px;
	margin: 0px 11px 0px 11px;
}

TABLE.mnMenuList
{
	padding:0px;
	border-collapse:collapse;
}
TABLE.mnMenuList TR
{
	padding:0px;
}
TABLE.mnMenuList TD.mnMenuIcon
{
	padding:0px;
	vertical-align:middle;	
}
TABLE.mnMenuList TD.mnMenuText
{
	padding-left:4px;
	padding-top:0px;
	padding-bottom:0px;
	padding-right:0px;
	vertical-align:middle;	
	color: #3333cc; 
}

/* Start - Styles are added for Wendy menu */
SPAN.lblQuickLinks
{
	font-size: 12px;
	color:#0066ee;
	font-family:Verdana,Arial;
	font-weight:bold;
	font-style:italic
	
}
.pnlQuickLinks
{
	border-style:groove;
	height:120px;
	width:77px;
	text-align:center
}
TABLE.mnMenuBar TD.mnQuicklinks
{
	padding: 1px 1px 1px 1px;
}
TABLE.mnMenuBarTraining TD.mnQuicklinks
{
	padding: 1px 1px 1px 1px;
}
/* End - Styles are added for Wendy menu */

/* Addtional Styles for Wendy */

TABLE.wizardtable TD.tdAlignment1Wendy
{
vertical-align: top; 
padding-top: 6px; 
}
TABLE.wizardtable TD.tdAlignment2Wendy
{
vertical-align: top; 
padding-top: 6px; 
height: 65px
}

/**********end of styles for menu bar *************/
/********** icon  styles ***********/

/* extra selector here for when IMG is nested in hyperlink control */
IMG.icon24, A.icon24 IMG

{
	width:24px;
	height:24px;
	border: 0px;	
}
IMG.icon48
{
	width:48px;
	height:48px;
}
/*********** end of icon styles ************/
/************** styles for wait messages ******/
DIV.wmpWaitIcon
{
	/* embedding icon in stylesheet allows animation to run while page is loading */
	/* works for Firefox and IE6 but not IE7 */
	/*background: url('../images/waitanim.gif') 50% 50% no-repeat;*/
	width:32px;
	height:32px;	
	margin:0 auto 0 auto;
	
}
IMG #waitImage
{
	width:32px;
	height:32px;	
}
DIV.wmpMain
{
	position: absolute;
	background-color: White;
	z-index: 100;
	padding-top: 100px;
}
DIV.wmpInner
{
	text-align:center;
	font-weight:bold;
}
/************** end of styles for wait messages ******/

/*************** styles for titlebar ******************/
TABLE.titlebartable
{
	border-collapse: collapse;
	background-color:#eeddff;
	/*background-color: #bbebeb;*/
	border-right: #000000 1px solid;
	border-top: #000000 1px solid;
	border-left:#000000 1px solid;
	border-bottom:#000000 1px solid;
	padding-right: 5px;
	padding-top:5px;
	padding-left:5px;
	padding-bottom:5px;
	width: 100%;

}
TABLE.titlebartable TD
{
	padding: 2px 5px 2px 5px;
	margin: 0px 0px 0px 0px;
	font-size: 20px;
	color:#0066ee;
	/*color: Black;*/
	text-align:left;
}

TD.titleicon
{
	padding:0px;
}


/********** end of styles for titlebar ***********/

/********** styles for Navigation Bar **********/
TABLE.navigationbar 
{
	background-color:#ebebeb;
	border: 1px solid #004499;
	border-left: 8px solid #004499;
	border-right: 8px solid #004499;
	margin-top:8px;
	margin-bottom:1px;
}

TD.STATUS_BAR_HEADER {
	background-color: #ebebeb;
	/*color: #ffffff;*/
	font-weight: bold;
}
/********** end of styles for Navigation Bar **********/
/******** styles for main menu page *********/
DIV.mainMenuBox
{
	/*font-weight: bold; 
	color: #333399; */
	
	background-color: #f2f2ff; /*#fef3ff; #f6e6ff;*/
	margin-top:3px;
	margin-bottom:3px;
	padding-top:5px;
	padding-bottom:5px;
	text-align:center;
	
}
/********** default styles for pages *******/
body
{
	padding-left:5px;
	padding-right:5px;
	padding-top:8px;
	padding-bottom:8px;
	margin: 0px 0px 0px 0px;
	border: 0px 0px 0px 0px;
	font-family:Verdana, Arial;
	color:#000000;
	font-size:11px
}
/* this SPAN one removed for pgms? */
/*
SPAN 
{
	padding-top: 5px
}
*/
TD 
{
	font-size: 11px;
}
SELECT
{
	font-family:Verdana, Arial;
	font-size:9px
}
INPUT
{
	font-family:Verdana, Arial;
	font-size:9px
}
TEXTAREA
{
	font-family:Verdana, Arial;
	font-size:11px
}
A:visited 
{
	color: #333399; 
	text-decoration: none
}
A:active 
{
	color: #333399; 
	text-decoration: none
}
A:hover 
{
	color: #3333cc; 
	text-decoration: underline
}
A:link 
{
	color: #3333cc; 
	text-decoration: none
}


/************* end of default styles ********/
/**************** styles for data controls ***********/
INPUT.textbox
{
}
INPUT.textboxdisabled
{
	background-color: #dddddd;
}
TEXTAREA.textboxdisabled
{
	background-color: #dddddd;
}
/**************** end styles for data controls ***********/
/************** red BnbMessageBox styles *******/
SPAN.messagebox
{
	font-weight:bold;
	font-size:11px;
	color:red
}
TABLE.messagegrid
{ 
	border-collapse:collapse;
	font-size:11px;
	color:Red;
}
DIV.mbContainer
{
	padding: 5px 0px 5px 0px;
}
DIV.mbContainer P
{
	margin:0px 0px 4px 0px;
	padding: 0px 0px 0px 0px;
}
/************** end of red BnbMessageBox styles *******/
/************** editpage elements *******/
SPAN.databuttons 
{
	font-family:Verdana, Arial;
}
SPAN.databuttons INPUT
{
	margin-top:5px;
	margin-bottom:5px;
}

DIV.sectionheading
{
	font-weight:bold;
	padding:3px;
	/*border: #000000 1px solid; */
	background-color: #bbebeb;
	font-family:Verdana, Arial;
	font-size:10px
}

DIV.sectionheadingalt
{
	font-weight:bold;
	padding:3px;
	background-color: White;
	font-family:Verdana, Arial;
	font-size:10px;
	color:Black;
	width:auto;
}


SPAN.datagridgroupsplitter
{
	width:100%;
	font-weight:bold;
	padding:3px;
	font-family:Verdana, Arial;
	font-size:13px
}

DIV.sectionlinks 
{
	padding:3px;
	width:1px;
	border: #9966ff 1px solid;
	background-color: #9ea8f6; 
	text-align: center;
	font-weight: normal; 
	font-size: 11px; 
	font-family: Verdana, Arial, Helvetica, Sans-Serif;
}

/************* end of editpage elements *****/
/**************** field tables ***************/
/******** (tables with editable fields in) ****/
TABLE.fieldtable
{
	width:auto;
}


TABLE.fieldtable TD
{
	font-weight: normal; 
	color: #003366; 
	height: 25px;
	border-collapse:collapse;
	padding-left:5px;
	vertical-align: top;
}

TABLE.fieldtable TD.label 
{
	white-space:nowrap;
	color: #333399; 
	/*height: 20px; */
	/* background-color: #ddf2ff; */
	background-color: #eeeeee; 
	text-align: left;
	vertical-align:top;
	padding-left:3px;
	padding-right:3px;
	/*border-color:#dddddd;*/
	border-width:thin;
	border-style:solid;
	font-weight:bold
}
/********** end of fieldtable ****************/

/* Added for Xml import*/
TABLE.fieldtable TD.labelLeft 
{
		white-space:nowrap;
	color: #333399; 
	/*height: 20px; */
	/* background-color: #ddf2ff; */
	background-color: #eeeeee; 
	text-align: left;
	vertical-align:top;
	padding-left:3px;
	padding-right:3px;
	/*border-color:#dddddd;*/
	border-width:thin;
	border-style:solid;
	font-weight:bold
}

/* Added for google map - Normal address screens*/
TABLE.gmaptableNormal  
{
		white-space:nowrap;
	color: #333399; 
	/*height: 20px; */
	/* background-color: #ddf2ff; */
	background-color: #eeeeee; 
	text-align: left;
	vertical-align:top;
	padding-left:3px;
	padding-right:3px;
	/*border-color:#dddddd;*/
	border-width:thin;
	border-style:solid;
	font-weight:normal
}

TABLE.gmaptableNormal TD.label 
{
	white-space:nowrap;
	color: #333399; 
	/*height: 20px; */
	/* background-color: #ddf2ff; */
	background-color: #eeeeee; 
	text-align: left;
	vertical-align:top;
	padding-left:3px;
	padding-right:3px;
	/*border-color:#dddddd;*/
	
	font-weight:bold
}

TABLE.gmaptableNormal TD.labelLeft 
{
		white-space:nowrap;
	color: #333399; 
	/*height: 20px; */
	/* background-color: #ddf2ff; */
	background-color: white; 
	text-align: left;
	vertical-align:top;
	padding-left:3px;
	padding-right:3px;
	/*border-color:#dddddd;*/
	border-width:thin;
	border-style:solid;
	font-weight:normal
}
TABLE.gmaptableNormal TD.labelLeftBold
{
		white-space:nowrap;
	color: #333399; 
	/*height: 20px; */
	/* background-color: #ddf2ff; */
	background-color: #eeeeee; 
	text-align: left;
	vertical-align:top;
	padding-left:3px;
	padding-right:3px;
	/*border-color:#dddddd;*/
	border-width:thin;
	border-style:solid;
	font-weight:bold
}
TABLE.gmaptableNormal TD.labelHelp
{
		color: #333399; 
	/*height: 20px; */
	/* background-color: #ddf2ff; */
	background-color: #eeeeee; 
	text-align: left;
	vertical-align:top;
	padding-left:3px;
	padding-right:3px;
	font-weight:normal
}

/* Added for google map - wizard address screens*/

TABLE.gmaptableWizard  
{
	font-weight: normal; 
	color: #003366; 
	height: 25px;
	background-color: #ccffcc;
	border-collapse:collapse;
	padding-left:5px;
	vertical-align:top;
}

TABLE.gmaptableWizard TD.label 
{
	font-weight: bold; 
	height: 20px; 
	color: #003366;
	text-align: right;
	font-size: 11px;
	vertical-align:top;
	padding:5px
}

TABLE.gmaptableWizard TD.labelLeft 
{
	height: 20px; 
	text-align: left;
	color: #003366;
	font-size: 11px;
	vertical-align:top;
	background-color: #ffffff;
	padding:5px
}
TABLE.gmaptableWizard TD.labelLeftBold
{
	font-weight: bold; 
	height: 20px; 
	color: #003366;
	text-align: left;
	font-size: 11px;
	vertical-align:top;
	padding:5px
}
TABLE.gmaptableWizard TD.labelHelp
{
	height: 20px; 
	text-align: left;
	color: #003366;
	font-size: 11px;
	vertical-align:top;
	padding:5px
}
/********** end of fieldtable ****************/

/*********** Find Geographical ***********************/
.divScroll
{
	overflow:auto; 
	height:450px
}

TD.slist
{
	vertical-align:top;
	text-align:left;
	width:25%
}
TD.sMap
{
	vertical-align:top;
	text-align:left;
	width:75%
}
.boldText
{
	font-weight:bold;
}
/*********** end of Find Geographical ***********************/
/**************** PGMS only fieldtable extra bits ***************/
/* (printable report pages and so on) */
TD.reportlabel
{
	text-align: left;
	font-size: 11px;
	vertical-align:top;
}
TD.fieldgmf 
{
	border:solid 1px silver;
	text-align: left;
	font-size: 11px;
	vertical-align:top;
}

SPAN.textboxgmf
{
	font-size:9px;
	text-align: left;
	background-color: #ffffff;
	height: 20px
}
SPAN.dateboxgmf
{
	font-size:9px;
	text-align: left;
	background-color: #ffffff;
	height: 20px; 
	padding: 9px;
}
TD.field 
{
	border:solid 1px silver;
	font-size:11px;
	text-align: left
}
/*********** datagrids ***********************/
/**** (domain object or view grids) **********/

TABLE.datagrid_nolines
{
	font-size: 9px;
	WIDTH: 100%; 
	border-collapse: collapse;
	border-style:none;
}
TABLE.datagrid
{
	font-size: 9px; 
	WIDTH: 100%; 
	border-collapse: collapse;
	border-style:solid;
	border-width:1px;
	border-color:Silver
}



TABLE.datagrid TH
{
	text-align: left;
	font-weight: normal; 
	font-size: 9px; 
	color: #000000; 
	height: 30px; 
	vertical-align: top;
	background-color: #f2f2ff;
	padding-left:5px;
	padding-right:5px;
	border-style:solid;
	border-width:1px;
	border-color:Silver;
}
TABLE.datagrid TD
{
	font-weight: normal; 
	color: #003366; 
	height: 25px;
	border-collapse:collapse;
	padding-left:5px;
	padding-right:5px;
	vertical-align:top;
	border-style:solid;
	border-width:1px;
	border-color:Silver;
}
/* style for headers of generic grids not using TH*/
TR.datagridheader TD
{
	text-align: left;
	font-weight: bold; 
	font-size: 12px; 
	color: #000000; 
	height: 30px; 
	background-color: #f2f2ff;
	padding-left:5px;
	border-style:solid;
	border-width:1px;
	border-color:Silver;
}

SPAN.dgvNoResults
{
	color: #003366; 
}
/*************** end of datagrids ***********/
/*********** menu styles ******************/
TABLE.menutable TD
{
	height: 25px;
	border-collapse:collapse;
	padding-left:5px;
	vertical-align:middle;	
}
/************* end of menu styles ***********/
/*********** error page styles **************/
TABLE.errortable
{
	BORDER:red 1px solid; 
	width:100%;
	BORDER-COLLAPSE:collapse;
}
TABLE.errortable TD
{
	padding: 5px 5px 5px 5px;
}
	
/*********** end of error page styles **************/
/********** reports styles *********************/

TABLE.reportinfo {
	width: 100%; BORDER-COLLAPSE: collapse
}
TABLE.reportinfo TD {
	border-right: silver 1px solid; padding-right: 8px; BORDER-TOP: silver 1px solid; padding-left: 4px; padding-bottom: 1px; border-left: silver 1px solid; padding-top: 1px; BORDER-BOTTOM: silver 1px solid; BORDER-COLLAPSE: collapse
}
TABLE.reporttable {
	border-right: thin; padding-right: 2px; BORDER-TOP: thin; padding-left: 2px; font-size: 0.95em; padding-bottom: 2px; border-left: thin; padding-top: 2px; BORDER-BOTTOM: thin
}
TABLE.reporttable TD {
	border-right: medium none; BORDER-TOP: medium none; MARGIN-TOP: 0px; MARGIN-BOTTOM: 0px; border-left: medium none; BORDER-BOTTOM: 1px; BACKGROUND-COLOR: #dfdff5; font-size:10px
}
TR.columnheading {
	font-weight: bold
}
TD.space {
	BACKGROUND-COLOR: white
}
TD.groupheader {
	border-right: medium none; BORDER-TOP: medium none; MARGIN-TOP: 0px; font-weight: bold; font-size: 1.1em; MARGIN-BOTTOM: 0px; border-left: medium none; BORDER-BOTTOM: 1px; BACKGROUND-COLOR: #dfdff5
}
TD.groupfooter {
	border-right: medium none; BORDER-TOP: medium none; MARGIN-TOP: 0px; font-weight: bold; MARGIN-BOTTOM: 0px; border-left: medium none; BORDER-BOTTOM: 1px; BACKGROUND-COLOR: #dfdff5
}
DIV.GreySectionHeading {
	border-right: #000000 1px solid; padding-right: 3px; BORDER-TOP: #000000 1px solid; padding-left: 3px; padding-bottom: 3px; border-left: #000000 1px solid; width: 100%; padding-top: 3px; BORDER-BOTTOM: #000000 1px solid; HEIGHT: 20px; BACKGROUND-COLOR: #ebebeb
}
DIV.GreySectionHeadingLabel {
	FLOAT: left; TEXT-ALIGN: left
}
.sectionHeading {
	font-weight: bold; font-size: 14px; WORD-SPACING: normal; TEXT-TRANSFORM: none; FONT-STYLE: normal; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif; LETTER-SPACING: normal; TEXT-DECORATION: none
}
TABLE.reportcontents {
	border-right: thin; padding-right: 2px; BORDER-TOP: thin; padding-left: 2px; padding-bottom: 2px; border-left: thin; padding-top: 2px; BORDER-BOTTOM: thin
}
TABLE.reportcontents TD {
	border-right: medium none; padding-right: 4px; BORDER-TOP: medium none; MARGIN-TOP: 0px; padding-left: 4px; MARGIN-BOTTOM: 0px; padding-bottom: 1px; border-left: medium none; padding-top: 1px; BORDER-BOTTOM: 1px; BACKGROUND-COLOR: #dfdff5
}
.reportItemSummary
{
	font-weight:bold;
}
/********** end of reports styles *********************/
/********** wizard styles *******************/
DIV.wizardheader
{
	background-color:#ccffcc;
	font-family:Verdana, Arial;
	color:#000000;
	font-size:11px;
	border-right: #000000 1px solid; 
	padding-right: 3px; 
	BORDER-TOP: #000000 1px solid; 
	padding-left: 3px; 
	padding-bottom: 3px; 
	border-left: #000000 1px solid; 
	width: 100%;
	padding-top: 3px; 
	BORDER-BOTTOM: #000000 1px solid;
		
}

DIV.wizardpanel
{
	background-color:#ffffff;
	font-family:Verdana, Arial;
	color:#000000;
	font-size:11px;
	
	/*MARGIN-RIGHT: 10px;
	MARGIN-LEFT: 10px;*/
	MARGIN-TOP: 10px;
	MARGIN-BOTTOM: 10px;
	border-right: #ccffcc 10px solid; 
	BORDER-TOP: #ccffcc 10px solid; 
	border-left: #ccffcc 10px solid; 
	BORDER-BOTTOM: #ccffcc 10px solid;
	padding-right: 10px; 
	padding-left: 10px; 
	padding-bottom: 10px; 
	padding-top: 10px; 
	width: 95%;
}
SPAN.feedback
{
	color:#ff0000;
	font-weight: bold;
}
TABLE.wizardtable TD
{
	font-weight: normal; 
	color: #003366; 
	height: 25px;
	border-collapse:collapse;
	padding-left:5px;
	vertical-align:middle;
}
TABLE.wizardtable TD.label 
{
	font-weight: bold; 
	height: 20px; 
	background-color: #ccffcc; 
	text-align: right;
	font-size: 11px;
	vertical-align:top;
	padding:5px
}
DIV.loadingmessage
{
	text-align:center;
	font:caption
}
/********** wizard styles *******************/
/************ NavigatePanel.ascx UserControl **************/
DIV.navigatetop
{
	border: 1px solid #008000; 
	border-left: 8px solid #008000;
	background-color: #ffffff;
	font-family:Verdana, Arial;
	font-size:11px;
	color:#9966ff;

	margin: 8px auto 0 auto;
	padding: 3px;
	text-align:left;
	width:180px;
}

DIV.navigatemain
{
	background: #ffffff; 
	border: 1px dotted #008000; 
	border-left: 8px solid #008000;
	border-top: 0;
	color: #000;
	padding: 4px;
	margin: 0 auto 8px auto;	
	text-align: left;
	width:180px;
}

/********* end of NavigatePanel.ascx UserControl **************/
/*********** styles for view warnings  **************/
span.viewwarning
{
	/*float:right;
	clear:left;*/
	color:#FFA500;
	font-weight:bold;
	padding-right:20px;
	padding-bottom:5px;
}
/* old pgms only? */
.orangemessage
{
	font-weight: bold;
	font-size: 11px;
	color: #ff9933;
}
/*********** end of styles for view warnings  **************/
/*********** styles for BnbQueryBuilderComposite ************/
/*** (i.e. criteria builder on Query page) ***/

/* drop down showing field names */
select.qbFieldDropDown
{
	/*width:250px;*/
	height:22px;
	vertical-align:middle;	
}

/* drop down showing compare options (begins with, is empty etc) */
select.qbEnumDropDown
{
	/*width:250px;*/
	height:22px;
	vertical-align:middle;	
}

/* drop down showing lookup values (countries, etc) */
select.qbLookupDropDown
{
	width:200px;
	height:22px;
	vertical-align:middle;	
}

/* list showing lookup values (countries, etc) */
select.qbLookupList
{
	width:200px;
	height:100px;
	vertical-align:middle;	
}

input.qbText
{
	width:200px;
	height:16px;
	vertical-align:middle;	
	/*padding: 1px 0px 1px 0px;*/
}

input.qbDateBox
{
	width:90px;
	height:16px;
	/*vertical-align:middle;*/
	/*margin: 1px 0px 1px 0px;*/
}

input.qbNumberBox
{
	width:90px;
	height:16px;
	/*vertical-align:middle;*/
	/*margin: 1px 0px 1px 0px;*/
}

input.qbCheckbox
{
	vertical-align:middle;
	/*margin: 1px 0px 1px 0px;*/
}

input.qbAddButton
{
	height:18px;
	vertical-align:middle;
}

input.qbAdvancedButton
{
	width:100px;
	margin: 0px 2px 10px 2px;
	/* this makes 1 button per row */
	display:block;
}

table.qbMain
{
	background-color: #ebffeb; 
	border: solid 1px black;
	padding: 10px 10px 10px 10px;
	clear:both;	
	width:100%;
}


td.qbWhereTableEnclosingCell
{
	padding: 10px 10px 10px 10px;
}

td.qbAdvancedCellOff
{
	padding: 5px 2px 5px 2px;
	width:106px;
}

td.qbAdvancedCellOn
{
	background-color: Gray;
	padding: 5px 2px 5px 2px;
	width:106px;
}

td.qbAddFilterCell
{
	padding: 5px 10px 10px 10px;
}


table.qbWhereTable
{
	border-collapse: collapse;
	/*border-style:dotted;
	border-width:1px;
	border-color:Silver;*/
	/*margin-bottom: 10px;*/
	width:100%;
	
}

table.qbWhereTable td.qbWhereCell
{
	border-collapse:collapse;
	vertical-align:middle;
	border-style:dotted;
	border-width:1px;
	border-color:Silver;
	padding: 2px 4px 2px 4px;
	width: 10px;
}

table.qbWhereTable td.qbFieldNameCell 
{
	border-collapse:collapse;
	vertical-align:middle;
	border-style:dotted;
	border-width:1px;
	border-color:Silver;
	padding: 2px 4px 2px 4px;
	width: 120px;
}


table.qbWhereTable td.qbValueCell 
{
	border-collapse:collapse;
	vertical-align:middle;
	border-style:dotted;
	border-width:1px;
	border-color:Silver;
	padding: 2px 4px 2px 4px;
	width: 210px;
}

table.qbWhereTable td.qbExtraCell
{
	border-collapse:collapse;
	vertical-align:middle;
	border-style:none;
	padding: 2px 4px 2px 4px;
	width: 10px;
}

table.qbWhereTable td.qbCheckboxCell
{
	text-align: right;
	border-collapse:collapse;
	vertical-align:middle;
	border-style:none;
	padding: 2px 4px 2px 4px;
}

table.qbWhereTable td.qbSpacerCell
{
	border-collapse:collapse;
	vertical-align:middle;
	border-style:none;
	padding: 2px 4px 2px 4px;
	width:auto;
}

table.qbWhereTable td.qbBracketCell
{
	border-collapse:collapse;
	vertical-align:middle;
	border-style:none;
	padding: 2px 4px 2px 4px;
	font-weight: normal;
	font-size: larger;
	width: 10px;
}

td.qbWarningMessage
{
	color: Red;
	font-weight: bold;
}

td.qbSummaryMessage
{
	width: 800px;
}

/******** end of styles for BnbQueryBuilderComposite ************/
/************* styles for BnbSmartGrid *****************/
/*** (i.e. results grid on Query page) ***/
TABLE.sgTable
{
	border-style:solid;
	border-collapse:collapse;
	border-width:1px;
	border-color:Black;	
}
TR.sgOuterRow
{
	border-style:none;
	border-width: 0px;
	padding: 0 0 0 0;
	margin: 0 0 0 0;	
}
TR.sgOuterRow TD
{
	border-style:none;
	border-width: 0px;
	padding: 1px 1px 1px 1px;
	margin: 0 0 0 0;	
}
TABLE.sgInner
{
	border-style:solid;
	border-color: Silver;
	border-collapse:collapse;
	border-width:1px;
	padding: 0 0 0 0;
	margin: 0 0 0 0;
}
TR.sgUtilityRow
{
	background-color: #ebffeb; 
}
TR.sgUtilityRow TD
{
	border-collapse:collapse;
	border-bottom: solid 1px black;
	padding-bottom: 6px;
	padding-left: 3px;
	padding-right: 3px;
	padding-top: 3px;
}
TR.sgColHeader 
{
	background-color: #ebffeb; 	
	padding-top: 6px;
}
TR.sgColHeader TD
{
	font-weight: bold;	
	padding-left: 3px;
	padding-right: 3px;
	border:solid 1px Silver;
	border-collapse:collapse;	
	
}
TR.sgDataRow TD
{
	padding-left: 3px;
	padding-right: 3px;
	border-style:solid;
	border-collapse:collapse;
	border-width:1px;
	border-color:Silver;
}
A.sgColAdjuster
{
	color: Navy;
	font-weight: bold;
	padding: 0px 5px 0px 5px;	
}
A.sgColAdjuster:visited
{
	color: Navy;
}
A.sgColAdjuster:hover
{
	background-color: #ebffeb; 
}
A.sgColHeader:link
{
	color: Black;
	font-weight: bold;
	padding: 0px 5px 0px 5px;	
}
A.sgColHeader:visited
{
	color: Black;
}

A.sgColHeader:hover
{
	background-color: #ebffeb; 
}

INPUT.sgToggle
{
	width:80px;
	padding:0px 5px 0px 5px;
	margin:1px 1px 1px 1px;
	
}
INPUT.sgButton
{
	padding:0px 5px 0px 5px;
	margin:1px 1px 1px 1px;	
}
/************* end of styles for BnbSmartGrid *****************/
/******** styles for BnbTabControl ************/

.tcTab
{
	 
}


.tcButtonWrapper
{
	/* having this invisible border makes IE render the tabsstrip better*/
	 border: solid 1px White; 
}


.tcButtonDefaultStyle
{
	/*background-color:#eeddff;*/
	background-color: #bbebeb;
	font-weight:bold;
	color:#000000;
	text-align:center;
	padding:5px 15px 5px 15px;
	border-width:3px;
	border-color:white;
	border-style:outset; 
	float:left;
	margin-right: 4px;
	margin-bottom: 4px;
	width:auto;
	cursor: hand;
}

.tcButtonEnd
{
	clear:left;
}

.tcButtonHoverStyle
{
	/*background-color:#ff88ff;*/
	background-color: #99ffff;
	font-weight:bold;
	color:#000000;
	text-align:center;
	padding:5px 15px 5px 15px;
	border-width:3px;
	border-color:white;
	border-style:outset; 
	float:left;
	margin-right: 4px;
	margin-bottom: 4px;
	width:auto;
	cursor:pointer;
}

.tcButtonSelectedStyle
{
	background-color:#ffffff;
	
	/*color:#0066ee;*/
	color:#000000;
	font-weight:bold;
	text-align:center;
	padding:5px 15px 5px 15px;
	border-width:3px;
	border-color:white;
	border-style:inset; 
	float:left;
	margin-right: 4px;
	margin-bottom: 4px;
	width:auto;
	cursor: default;
}

/* used only when ShowAllTabsVertically is switched on */
DIV.tcSectionHeading
{
	font-weight:bold;
	padding:3px;
	border-top: solid 7px white;
	border-bottom: solid 5px white;
	background-color: #bbebeb;
	font-family:Verdana, Arial;
	font-size:14px
}

/* used only when ShowAllTabsVertically is switched on */
DIV.tcSectionLinks 
{
	padding:3px;
	width:auto;
	border: #9966ff 1px solid;
	background-color: #9ea8f6; 
	text-align: left;
	font-weight: normal; 
	font-size: 11px; 
	font-family: Verdana, Arial, Helvetica, Sans-Serif;
}

/********** end of styles for BnbTabControl ******/
/*********** styles for Splashscreen (login page) *************/

table.splashTable
{
	/*width:600px;
	height:440px;	*/
	border-collapse:collapse;
}
td.splashCell
{
	padding: 5px 5px 5px 5px;	
	border: solid 10px white;
	width: 280px;
	height: 220px;
	vertical-align: middle;
	text-align: center;
	background-color: #fef3ff; 
	
}
td.spashCell IMG
{
	border: solid 5px white;	
}
#splashLoginTable
{
	margin-left: auto; 
	margin-right: auto;	
}
div.splashVSOLogo
{
	background-color: White;
	padding: 5px 2px 0px 2px;	
	width: 133px;
	height: 133px;
	margin-left: auto; 
	margin-right: auto;
}

/*********** end of styles for Splashscreen (login page) *************/
/**** styles for PMF Status Panel (project page) *******/

table.pmfStatusBar 
{
	margin-top:8px;
	margin-bottom:1px;
	border: solid 1px silver;
	padding-top:4px;
	padding-bottom:4px;
	background-color: #EEEEEE;
}
table.pmfStatusBar td
{
	border-collapse:collapse;
	border: solid 1px black;
	padding: 2px 4px 2px 4px;
	margin-top:4px;
	margin-bottom:4px;
	text-align: center;
	background-color:white;
}
table.pmfStatusBar td.pmfArrowCell
{
	border: 0px;
	padding-left: 4px;
	padding-right: 4px;
	background-color:Transparent;
	
}
table.pmfStatusBar td.pmfLabelCell
{
	color: #333399; 
	background-color:Transparent;
	text-align: left;
	padding-left:3px;
	padding-right:13px;
	border: none; 
	font-weight:bold	
}

table.pmfStatusBar td.pmfSelectedCell
{
	
	background-color: #eeddff; 
	font-weight:bold	
}
/**** end of styles for PMF Status Panel (project page) *******/
table.volCountMatrixTable td.volCountMatrixHeadFirst
{
	font-weight: bold; 
	color: #333399; 
	height: 20px; 
	background-color: #eeeeee; 
	text-align:left;
	font-size: 11px;
	vertical-align:middle;
	padding:5px;
	width:40%
}

table.volCountMatrixTable td.volCountMatrixHeadRest
{
	font-weight: bold; 
	color: #333399; 
	height: 20px; 
	background-color: #eeeeee; 
	text-align:center;
	font-size: 11px;
	vertical-align:middle;
	padding:5px;

}

table.volCountMatrixTable td.volCountMatrixRowFirst
{
	font-weight: bold; 
	color: #000000; 
	height: 20px; 
	background-color: #ffffff; 
	text-align:left;
	font-size: 11px;
	vertical-align:middle;
	padding:5px;
	width:40%
}

table.volCountMatrixTable td.volCountMatrixRowRest
{
	font-weight: bold; 
	color: #000000; 
	height: 20px; 
	background-color: #ffffff; 
	text-align:center;
	font-size: 11px;
	vertical-align:middle;
	padding:5px;

}

table.volCountMatrixTable td.volCountMatrixRowFoot
{
	border-left:0;
	border-bottom:0;
}

tr.sectionHeadingForShowHide
{
	font-weight:bold;
	height:10px; 
	background-color:rgb(238,221,255);
	color:rgb(50,50,185);
    cursor:hand;
}

p.paragraph
{
	font-family :Verdana ;
	line-height :1.5;
	text-align :left ;
}
b.bold
{
	color :Purple ;
	font-size :x-small ;
}
p.SectionHeading
{
	font-weight:bold;
	height:20px; 
	background-color:rgb(238,221,255);
	color:rgb(50,50,185);
	font-size :12px;
    padding-top :5px;
    padding-left :10px; 	
}

ul.tick
{
	list-style-image : url('../Images/tick-icon.gif');
}
li.style
{
	color :Purple ;
	font-size :small ;
	font-weight :bold ;
	vertical-align :middle ;
    padding-top :10px;
    padding-left :20px; 
}
p.warningmsg
{
	color:Red;
	font-size :small ;
	font-weight :bold ;
	padding-top :10px;
	padding-left :20px;	
}
p.font
{
	font-size :small ;
	font-weight :bold ;
	padding-top :10px;
}
p.wizardstyle
{
	padding-top :10px;
	padding-left:20px;
}
TABLE.wizardtable TH.label 
{
	font-weight: bold; 
	height: 20px; 
	background-color: #ccffcc; 
	text-align:center ;
	font-size: 11px;
	padding:5px;
	vertical-align :middle ;
}
TABLE.wizardtable TH
{
	font-weight: normal;
	height: 25px;
	border-collapse:collapse;
	padding-left:5px;
	text-align :justify ;
	vertical-align :top ;
}

b.link
{
	color :#C000C0;
	font-size :12px;
	vertical-align :super;
}

.ProjectSubTitle
{
	font-size:14px;	
}

.ProjectTitleUnderline
{
	text-decoration:underline;
}

TABLE.wizardtable TD.label p.paragraph b.bold
{
	color :Purple ;
	font-size :12px ;
}
.valsummary ul
{
 display :none;
 visibility :hidden ;
}