.tooltip
{
	border-bottom: 1px #000000;
	color: #000000;
	outline: none;
	cursor:default;
	text-decoration: none;
	position: relative;
}
#aid
{
	text-decoration: none;
	color:#036;
}
#wizardaid
{
	text-decoration: none;
	color:#036;
}
#sid
{
	font-family: sans-serif;
}
#wizardsid
{
	font-family: sans-serif;
}
.tooltip span
{
	margin-left: -999em;
	position: absolute;
}
.tooltip:hover span
{
	border-radius: 5px 5px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.1);
	-webkit-box-shadow: 5px 5px rgba(0, 0, 0, 0.1);
	-moz-box-shadow: 5px 5px rgba(0, 0, 0, 0.1);
	font-family: Calibri, Tahoma, Geneva, sans-serif;
	position: absolute;
	left: 1em;
	top: 2em;
	z-index: 99;
	margin-left: 0;
	width: 151px;
}
.tooltip:hover img
{
	border: 0;
	margin: -12px 0 0 -35px;
	float: left;
	position: absolute;
}
.custom
{
	padding: 0.3em 0.2em 0.2em 1em;
}
.wizardcustom
{
	padding: 0.5em 0.8em 0.8em 2em;
}
.info
{
	background: #eeddff;
	border: 1px solid #F5B8E5;
}
#atooltip
{
	font-family: Calibri, Tahoma, Geneva, sans-serif;
}
span.viewwarn
{
	color:Red;
}
