/********* styles for starfish header ********/
TABLE.StarfishHeader 
{
	background-color:#ebebeb;
	border-right: #000000 1px solid;
	padding-right: 1px;
	border-top: #000000 1px solid;
	padding-top:1px;
	border-left:#000000 1px solid;
	padding-left:1px;
	border-bottom:#000000 1px solid;
	
	padding-bottom:1px;
	height: 100%;
}
TABLE.StarfishHeaderTraining 
{
	background-color:#ebebeb;
	border-right: Lime 1px solid;
	padding-right: 1px;
	border-top: Lime 1px solid;
	padding-top:1px;
	border-left: Lime 1px solid;
	padding-left:1px;
	border-bottom: Lime 1px solid;
	padding-bottom:1px;
	height: 100%;
}
TABLE.StarfishHeaderTraining TD
{
	padding: 2px 5px 2px 5px;
}
SPAN.StarfishTitle
{
	font-size: 20px;
	color:#9966ff;
	font-family:Verdana,Arial
}
TABLE.scaffold
{
	height:1000px;
	width:100%;
}
TABLE.scaffold TD
{
	vertical-align:top;
}
TD.maincell
{
	width: 100%;
}
TABLE.sidebartable
{
	background-color:#ebebeb;
	border-right: Lime 1px solid;
	padding-right: 5px;
	border-top: Lime 1px solid;
	padding-top:5px;
	border-left: Lime 1px solid;
	padding-left:5px;
	border-bottom: Lime 1px solid;
	padding-bottom:5px;
	height: 100%;

}
TABLE.sidebartable TD
{
		padding: 2px 5px 2px 5px;
}
TABLE.titlebartable
{
	background-color:#ebebeb;
	border-right: Lime 1px solid;
	padding-right: 5px;
	border-top: Lime 1px solid;
	padding-top:5px;
	border-left: Lime 1px solid;
	padding-left:5px;
	border-bottom: Lime 1px solid;
	padding-bottom:5px;
	width: 100%;

}
TABLE.titlebartable TD
{
	padding: 2px 5px 2px 5px;
	font-size: 20px;
	color:#9966ff;
	text-align:left;
}
/********** end of header styles ***********/



/********** default styles for pages *******/
body
{
	font-family:Verdana, Arial;
	color:#000000;
	font-size:11px
}
SPAN 
{
	padding-top: 5px
}
TD
{
	font-family:Verdana, Arial;
	font-size:11px;
}
SELECT
{
	font-family:Verdana, Arial;
	font-size:11px
}
INPUT
{
	font-family:Verdana, Arial;
	font-size:11px
}
TEXTAREA
{
	font-family:Verdana, Arial;
	font-size:11px
}
A:visited 
{
	color: #333399; 
	text-decoration: none
}
A:active 
{
	color: #333399; 
	text-decoration: none
}
A:hover 
{
	color: #3333cc; 
	text-decoration: underline
}
A:link 
{
	color: #3333cc; 
	text-decoration: none
}

/************* end of default styles ********/

/************** starfish editpage elements *******/
SPAN.databuttons 
{
	font-family:Verdana, Arial;
}
SPAN.messagebox
{
	font-weight:bold;
	font-size:11px;
	color:red
}
TABLE.messagegrid
{ 
	border-collapse:collapse;
	font-size:11px;
	color:Red;
}
DIV.sectionheading
{
	font-weight:bold;
	padding:2px;
	border: #008000 1px solid; 
	background-color: #ffffff;
	font-family:Verdana, Arial;
	font-size:11px;
	color:#9966ff;
	width:auto;
	margin-top: 5px;
	margin-bottom: 7px;
}

DIV.sectionheadingalt
{
	font-weight:bold;
	padding:2px;
	background-color: White;
	font-family:Verdana, Arial;
	font-size:11px;
	color:Black;
	width:auto;
}


SPAN.datagridgroupsplitter
{
	width:100%;
	font-weight:bold;
	padding:3px;
	font-family:Verdana, Arial;
	font-size:13px
}

DIV.sectionlinks 
{
	padding:3px;
	width:1px;
	border: #9966ff 1px solid;
	background-color: #ccccff; 
	text-align: center;
	font-weight: normal; 
	font-size: 11px; 
	font-family: Verdana, Arial, Helvetica, Sans-Serif;
}

TABLE.NavigationBar {
	border-left: #6C6E8C 1px solid;
	border-right: #6C6E8C 1px solid;
	border-bottom: #6C6E8C 1px solid;
	BACKGROUND-COLOR: #EEEEFF;
	TEXT-ALIGN: center;
	border: 5px double #6C6E8C;
}

TD.STATUS_BAR_HEADER {
	background-color: #6C6E8C;
	color: #ffffff;
	font-weight: bold;
}
/************* end of editpage elements *****/

/***************** field tables ***************/
/******** (tables with editable fields in) ****/
TABLE.fieldtable
{
	width:auto;
}

TABLE.fieldtable TD
{
	font-weight: normal; 
	color: #003366; 
	height: 25px;
	border-collapse:collapse;
	padding-left:5px;
	vertical-align:middle;
}
TABLE.fieldtable TD.label 
{
	font-weight: bold; 
	color: #333399; 
	height: 20px; 
	background-color: #ebffeb; 
	text-align: right;
	font-size: 11px;
	vertical-align:top;
	padding:5px
}
/********** end of fieldtable ****************/

/*********** datagrids ***********************/
/**** (domain object or view grids) **********/
TABLE.datagrid
{
	font-size: 11px; 
	width: 100%; 
	border-collapse: collapse;
	border-style:solid;
	border-width:1px;
	border-color:Silver;
}
TABLE.datagrid TH
{
	text-align: left;
	font-weight: bold; 
	font-size: 12px; 
	color: #000000; 
	height: 30px; 
	background-color: #ebffeb;
	padding-left:5px;
	border-style:solid;
	border-width:1px;
	border-color:Silver;
}
TABLE.datagrid TD
{
	font-weight: normal; 
	color: #003366; 
	height: 25px;
	border-collapse:collapse;
	padding-left:5px;
	vertical-align:middle;
	border-style:solid;
	border-width:1px;
	border-color:Silver;
}
/* style for headers of generic grids not using TH*/
TR.datagridheader TD
{
	text-align: left;
	font-weight: bold; 
	font-size: 12px; 
	color: #000000; 
	height: 30px; 
	background-color: #ebffeb;
	padding-left:5px;
	border-style:solid;
	border-width:1px;
	border-color:Silver;
}
/*************** end of datagrids ***********/

/*********** menu styles ******************/
TABLE.menutable TD
{
	height: 25px;
	border-collapse:collapse;
	padding-left:5px;
	vertical-align:middle;	
}
/************* end of menu styles ***********/
/*********** error page styles **************/
TABLE.errortable
{
	BORDER:red 1px solid; 
	width:100%;
	BORDER-COLLAPSE:collapse;
}
TABLE.errortable TD
{
	padding: 5px 5px 5px 5px;
}
	

/********** reports styles *********************/
/* added for Reports: */
TABLE.reportinfo {
	width: 100%; BORDER-COLLAPSE: collapse
}
TABLE.reportinfo TD {
	border-right: silver 1px solid; padding-right: 8px; BORDER-TOP: silver 1px solid; padding-left: 4px; padding-bottom: 1px; border-left: silver 1px solid; padding-top: 1px; BORDER-BOTTOM: silver 1px solid; BORDER-COLLAPSE: collapse
}
TABLE.reporttable {
	border-right: thin; padding-right: 2px; BORDER-TOP: thin; padding-left: 2px; font-size: 0.95em; padding-bottom: 2px; border-left: thin; padding-top: 2px; BORDER-BOTTOM: thin
}
TABLE.reporttable TD {
	border-right: medium none; BORDER-TOP: medium none; MARGIN-TOP: 0px; MARGIN-BOTTOM: 0px; border-left: medium none; BORDER-BOTTOM: 1px; BACKGROUND-COLOR: #dfdff5; font-size:10px
}
TR.columnheading {
	font-weight: bold
}
TD.space {
	BACKGROUND-COLOR: white
}
TD.groupheader {
	border-right: medium none; BORDER-TOP: medium none; MARGIN-TOP: 0px; font-weight: bold; font-size: 1.1em; MARGIN-BOTTOM: 0px; border-left: medium none; BORDER-BOTTOM: 1px; BACKGROUND-COLOR: #dfdff5
}
TD.groupfooter {
	border-right: medium none; BORDER-TOP: medium none; MARGIN-TOP: 0px; font-weight: bold; MARGIN-BOTTOM: 0px; border-left: medium none; BORDER-BOTTOM: 1px; BACKGROUND-COLOR: #dfdff5
}
DIV.GreySectionHeading {
	border-right: #000000 1px solid; padding-right: 3px; BORDER-TOP: #000000 1px solid; padding-left: 3px; padding-bottom: 3px; border-left: #000000 1px solid; width: 100%; padding-top: 3px; BORDER-BOTTOM: #000000 1px solid; HEIGHT: 20px; BACKGROUND-COLOR: #ebebeb
}
DIV.GreySectionHeadingLabel {
	FLOAT: left; TEXT-ALIGN: left
}
.sectionHeading {
	font-weight: bold; font-size: 14px; WORD-SPACING: normal; TEXT-TRANSFORM: none; FONT-STYLE: normal; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif; LETTER-SPACING: normal; TEXT-DECORATION: none
}
TABLE.reportcontents {
	border-right: thin; padding-right: 2px; BORDER-TOP: thin; padding-left: 2px; padding-bottom: 2px; border-left: thin; padding-top: 2px; BORDER-BOTTOM: thin
}
TABLE.reportcontents TD {
	border-right: medium none; padding-right: 4px; BORDER-TOP: medium none; MARGIN-TOP: 0px; padding-left: 4px; MARGIN-BOTTOM: 0px; padding-bottom: 1px; border-left: medium none; padding-top: 1px; BORDER-BOTTOM: 1px; BACKGROUND-COLOR: #dfdff5
}
/* end of reports section */
/* wizard section */
DIV.wizardheader
{
	background-color:#ccffcc;
	font-family:Verdana, Arial;
	color:#000000;
	font-size:11px;
	border-right: #000000 1px solid; 
	padding-right: 3px; 
	BORDER-TOP: #000000 1px solid; 
	padding-left: 3px; 
	padding-bottom: 3px; 
	border-left: #000000 1px solid; 
	width: 100%; 
	padding-top: 3px; 
	BORDER-BOTTOM: #000000 1px solid;
		
}

DIV.wizardpanel
{
	background-color:#ffffff;
	font-family:Verdana, Arial;
	color:#000000;
	font-size:11px;
	
	MARGIN-RIGHT: 10px;
	MARGIN-LEFT: 10px;
	MARGIN-TOP: 10px;
	MARGIN-BOTTOM: 10px;
	border-right: #ccffcc 10px solid; 
	BORDER-TOP: #ccffcc 10px solid; 
	border-left: #ccffcc 10px solid; 
	BORDER-BOTTOM: #ccffcc 10px solid;
	padding-right: 10px; 
	padding-left: 10px; 
	padding-bottom: 10px; 
	padding-top: 10px; 
	width: 100%; 
}
SPAN.feedback
{
	color:#ff0000;
	font-weight: bold;
}
TABLE.wizardtable TD
{
	font-weight: normal; 
	color: #003366; 
	height: 25px;
	border-collapse:collapse;
	padding-left:5px;
	vertical-align:middle;
}
TABLE.wizardtable TD.label 
{
	font-weight: bold; 
	height: 20px; 
	background-color: #ccffcc; 
	text-align: right;
	font-size: 11px;
	vertical-align:top;
	padding:5px
}
DIV.loadingmessage
{
	text-align:center;
	font:caption
}
/* end of wizard section */

/* start of tab control */
TABLE.tabbody { vertical-align: top; width: 100%;}
TD.activetab
{ 
	border-right: black 1px solid; 
	BORDER-TOP: black 1px solid; 
	border-left: black 1px solid; 
	padding-right: 5px; 
	padding-left: 5px; 
	font-weight: bold; 
	font-size: 8pt; 
	padding-bottom: 5px; 
	vertical-align: top; 
	width: 100%; 
	padding-top: 5px; 
	background-color: #f2f2ff
}
TD.activetab_leftcolumn
{ 
	border-bottom: black 1px solid; 
	BORDER-TOP: black 1px solid; 
	border-left: black 1px solid; 
	padding-right: 5px; 
	padding-left: 5px; 
	font-weight: bold; 
	font-size: 8pt; 
	padding-bottom: 5px; 
	vertical-align: top; 
	width: 100%; 
	padding-top: 5px; 
	background-color: #f2f2ff
}
TD.inactivetab 
{ 
	border-right: silver 1px solid; 
	padding-right: 5px; 
	padding-left: 5px; 
	font-weight: bold; 
	font-size: 8pt; 
	padding-bottom: 5px; 
	vertical-align: top; 
	border-left: silver 1px solid; 
	width: 100%; 
	padding-top: 5px; 
	border-top:silver 1px solid
}
TD.inactivetab_leftcolumn
{ 
	border-bottom: silver 1px solid; 
	padding-right: 5px; 
	padding-left: 5px; 
	font-weight: bold; 
	font-size: 8pt; 
	padding-bottom: 5px; 
	vertical-align: top; 
	border-left: silver 1px solid; 
	width: 100%; 
	padding-top: 5px; 
	border-top:silver 1px solid
}
TD.deadtab 
{
	color:Silver; 
	border-right: silver 1px solid; 
	padding-right: 5px; 
	padding-left: 5px; 
	font-weight: bold; 
	font-size: 8pt; 
	padding-bottom: 5px; 
	vertical-align: top; 
	border-left: silver 1px solid; 
	width: 100%; 
	padding-top: 5px; 
	border-top:silver 1px solid
}
TD.deadtab_leftcolumn 
{
	color:Silver; 
	border-bottom: silver 1px solid; 
	padding-right: 5px; 
	padding-left: 5px; 
	font-weight: bold; 
	font-size: 8pt; 
	padding-bottom: 5px; 
	vertical-align: top; 
	border-left: silver 1px solid; 
	width: 100%; 
	padding-top: 5px; 
	border-top:silver 1px solid
}
/* end of tab control*/
/* navigate panel */
DIV.navigatetop
{
	border: 1px solid #008000; 
	border-left: 8px solid #008000;
	background-color: #ffffff;
	font-family:Verdana, Arial;
	font-size:11px;
	color:#9966ff;

	margin: 8px auto 0 auto;
	padding: 3px;
	text-align:left;
	width:180px;
}

DIV.navigatemain
{
	background: #ffffff; 
	border: 1px dotted #008000; 
	border-left: 8px solid #008000;
	border-top: 0;
	color: #000;
	padding: 4px;
	margin: 0 auto 8px auto;	
	text-align: left;
	width:180px;
}

/* end of navigate panel */
/* image styles */
IMG.icon24
{
	width:24px;
	height:24px;
	border: 0px;	
}
IMG.icon48
{
	width:48px;
	height:48px;
}
TABLE.menucollapse
{
	padding:0px;
	border-collapse:collapse;
}
TABLE.menucollapse TR
{
	padding:0px;
}
TABLE.menucollapse TD.menuicon
{
	padding:0px;
	vertical-align:middle;	
}
TABLE.menucollapse TD.menutext
{
	padding-left:4px;
	padding-top:0px;
	padding-bottom:0px;
	padding-right:0px;
	vertical-align:middle;	
	color: #3333cc; 
}
TD.titleicon
{
	padding:0px;
}

/* styles for view warnings */
span.viewwarning
{
	float:right;
	color:#FFA500;
	font-weight:bold;
	padding-right:20px;
	padding-bottom:5px;
}

DIV.wizardpanel
{
	background-color:#ffffff;
	font-family:Verdana, Arial;
	color:#000000;
	font-size:11px;
	
	/*MARGIN-RIGHT: 10px;
	MARGIN-LEFT: 10px;*/
	MARGIN-TOP: 10px;
	MARGIN-BOTTOM: 10px;
	border-right: #ccffcc 10px solid; 
	BORDER-TOP: #ccffcc 10px solid; 
	border-left: #ccffcc 10px solid; 
	BORDER-BOTTOM: #ccffcc 10px solid;
	padding-right: 10px; 
	padding-left: 10px; 
	padding-bottom: 10px; 
	padding-top: 10px; 
	width: 95%;
}

.link
{
	font-size :12px;
	vertical-align :super;
	font-weight :bolder
}