/********* styles for starfish header ********/
TABLE.StarfishHeader 
{
	background-color:#ccccff;
	spacing: 1px;
	border-right: #000000 1px solid;
	padding-right: 1px;
	border-top: #000000 1px solid;
	padding-top:1px;
	border-left:#000000 1px solid;
	padding-left:1px;
	border-bottom:#000000 1px solid;
	padding-bottom:1px
}
TABLE.StarfishHeaderTraining 
{
	background-color:#ffcccc;
	spacing: 1px;
	border-right: #000000 1px solid;
	padding-right: 1px;
	border-top: #000000 1px solid;
	padding-top:1px;
	border-left:#000000 1px solid;
	padding-left:1px;
	border-bottom:#000000 1px solid;
	padding-bottom:1px
}
SPAN.StarfishTitle
{
	font-size: 25pt;
	color:#9966ff;
	font-family:Verdana,Arial
}
/********** end of header styles ***********/

/********** default styles for pages *******/
body
{
	font-family:Verdana, Arial;
	color:#000000;
	font-size:11px
}
SPAN 
{
	padding-top: 5px
}
TD
{
	font-family:Verdana, Arial;
	font-size:11px;
}
SELECT
{
	font-family:Verdana, Arial;
	font-size:11px
}
INPUT
{
	font-family:Verdana, Arial;
	font-size:11px
}
TEXTAREA
{
	font-family:Verdana, Arial;
	font-size:11px
}
A:visited 
{
	color: #333399; 
	text-decoration: none
}
A:active 
{
	color: #333399; 
	text-decoration: none
}
A:hover 
{
	color: #3333cc; 
	text-decoration: underline
}
A:link 
{
	color: #3333cc; 
	text-decoration: none
}

/************* end of default styles ********/

/************** starfish editpage elements *******/
SPAN.databuttons 
{
	font-family:Verdana, Arial;
}
SPAN.messagebox
{
	font-weight:bold;
	font-size:11px;
	color:red
}
TABLE.messagegrid
{ 
	border-collapse:collapse;
	font-size:11px;
	color:Red;
}
DIV.sectionheading
{
	font-weight:bold;
	padding:3px;
	border: #000000 1px solid; 
	background-color: #ebebeb;
	font-family:Verdana, Arial;
	font-size:13px
}

DIV.sectionlinks 
{
	padding:3px;
	width:1px;
	border: #9966ff 1px solid;
	background-color: #ccccff; 
	text-align: center;
	font-weight: normal; 
	font-size: 11px; 
	font-family: Verdana, Arial, Helvetica, Sans-Serif;
}

TABLE.NavigationBar {
	BORDER-LEFT: #6C6E8C 1px solid;
	BORDER-RIGHT: #6C6E8C 1px solid;
	border-bottom: #6C6E8C 1px solid;
	BACKGROUND-COLOR: #EEEEFF;
	TEXT-ALIGN: center;
	border: 5px double #6C6E8C;
}

TD.STATUS_BAR_HEADER {
	background-color: #6C6E8C;
	color: #ffffff;
	font-weight: bold;
}
/************* end of editpage elements *****/

/***************** field tables ***************/
/******** (tables with editable fields in) ****/
TABLE.fieldtable TD
{
	font-weight: normal; 
	color: #003366; 
	height: 25px;
	border-collapse:collapse;
	padding-left:5px;
	vertical-align:middle;
}
TABLE.fieldtable TD.label 
{
	font-weight: bold; 
	color: #333399; 
	height: 20px; 
	background-color: #f2f2ff; 
	text-align: right;
	font-size: 11px;
	vertical-align:top;
	padding:5px
}
/********** end of fieldtable ****************/

/*********** datagrids ***********************/
/**** (domain object or view grids) **********/
TABLE.datagrid
{
	font-size: 11px; 
	WIDTH: 100%; 
	border-collapse: collapse;
	border-style:solid;
	border-width:1px;
	border-color:Silver;
}
TABLE.datagrid TH
{
	text-align: left;
	font-weight: bold; 
	font-size: 12px; 
	color: #000000; 
	height: 30px; 
	background-color: #f2f2ff;
	padding-left:5px;
	border-style:solid;
	border-width:1px;
	border-color:Silver;
}
TABLE.datagrid TD
{
	font-weight: normal; 
	color: #003366; 
	height: 25px;
	border-collapse:collapse;
	padding-left:5px;
	vertical-align:middle;
	border-style:solid;
	border-width:1px;
	border-color:Silver;
}
/* style for headers of generic grids not using TH*/
TR.datagridheader TD
{
	text-align: left;
	font-weight: bold; 
	font-size: 12px; 
	color: #000000; 
	height: 30px; 
	background-color: #f2f2ff;
	padding-left:5px;
	border-style:solid;
	border-width:1px;
	border-color:Silver;
}
/*************** end of datagrids ***********/

/*********** menu styles ******************/
TABLE.menutable TD
{
	height: 25px;
	border-collapse:collapse;
	padding-left:5px;
	vertical-align:middle;	
}
/************* end of menu styles ***********/
/*********** error page styles **************/
TABLE.errortable
{
	BORDER:red 1px solid; 
	width:100%;
	BORDER-COLLAPSE:collapse;
}
TABLE.errortable TD
{
	padding: 5px 5px 5px 5px;
}
	

/********** reports styles *********************/
/* added for Reports: */
TABLE.reportinfo {
	WIDTH: 100%; BORDER-COLLAPSE: collapse
}
TABLE.reportinfo TD {
	BORDER-RIGHT: silver 1px solid; PADDING-RIGHT: 8px; BORDER-TOP: silver 1px solid; PADDING-LEFT: 4px; PADDING-BOTTOM: 1px; BORDER-LEFT: silver 1px solid; PADDING-TOP: 1px; BORDER-BOTTOM: silver 1px solid; BORDER-COLLAPSE: collapse
}
TABLE.reporttable {
	BORDER-RIGHT: thin; PADDING-RIGHT: 2px; BORDER-TOP: thin; PADDING-LEFT: 2px; FONT-SIZE: 0.95em; PADDING-BOTTOM: 2px; BORDER-LEFT: thin; PADDING-TOP: 2px; BORDER-BOTTOM: thin
}
TABLE.reporttable TD {
	BORDER-RIGHT: medium none; BORDER-TOP: medium none; MARGIN-TOP: 0px; MARGIN-BOTTOM: 0px; BORDER-LEFT: medium none; BORDER-BOTTOM: 1px; BACKGROUND-COLOR: #dfdff5; font-size:10px
}
TR.columnheading {
	FONT-WEIGHT: bold
}
TD.space {
	BACKGROUND-COLOR: white
}
TD.groupheader {
	BORDER-RIGHT: medium none; BORDER-TOP: medium none; MARGIN-TOP: 0px; FONT-WEIGHT: bold; FONT-SIZE: 1.1em; MARGIN-BOTTOM: 0px; BORDER-LEFT: medium none; BORDER-BOTTOM: 1px; BACKGROUND-COLOR: #dfdff5
}
TD.groupfooter {
	BORDER-RIGHT: medium none; BORDER-TOP: medium none; MARGIN-TOP: 0px; FONT-WEIGHT: bold; MARGIN-BOTTOM: 0px; BORDER-LEFT: medium none; BORDER-BOTTOM: 1px; BACKGROUND-COLOR: #dfdff5
}
DIV.GreySectionHeading {
	BORDER-RIGHT: #000000 1px solid; PADDING-RIGHT: 3px; BORDER-TOP: #000000 1px solid; PADDING-LEFT: 3px; PADDING-BOTTOM: 3px; BORDER-LEFT: #000000 1px solid; WIDTH: 100%; PADDING-TOP: 3px; BORDER-BOTTOM: #000000 1px solid; HEIGHT: 20px; BACKGROUND-COLOR: #ebebeb
}
DIV.GreySectionHeadingLabel {
	FLOAT: left; TEXT-ALIGN: left
}
.sectionHeading {
	FONT-WEIGHT: bold; FONT-SIZE: 14px; WORD-SPACING: normal; TEXT-TRANSFORM: none; FONT-STYLE: normal; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif; LETTER-SPACING: normal; TEXT-DECORATION: none
}
TABLE.reportcontents {
	BORDER-RIGHT: thin; PADDING-RIGHT: 2px; BORDER-TOP: thin; PADDING-LEFT: 2px; PADDING-BOTTOM: 2px; BORDER-LEFT: thin; PADDING-TOP: 2px; BORDER-BOTTOM: thin
}
TABLE.reportcontents TD {
	BORDER-RIGHT: medium none; PADDING-RIGHT: 4px; BORDER-TOP: medium none; MARGIN-TOP: 0px; PADDING-LEFT: 4px; MARGIN-BOTTOM: 0px; PADDING-BOTTOM: 1px; BORDER-LEFT: medium none; PADDING-TOP: 1px; BORDER-BOTTOM: 1px; BACKGROUND-COLOR: #dfdff5
}
/* end of reports section */
/* wizard section */
DIV.wizardheader
{
	background-color:#ccffcc;
	font-family:Verdana, Arial;
	color:#000000;
	font-size:11px;
	BORDER-RIGHT: #000000 1px solid; 
	PADDING-RIGHT: 3px; 
	BORDER-TOP: #000000 1px solid; 
	PADDING-LEFT: 3px; 
	PADDING-BOTTOM: 3px; 
	BORDER-LEFT: #000000 1px solid; 
	WIDTH: 100%; 
	PADDING-TOP: 3px; 
	BORDER-BOTTOM: #000000 1px solid;
		
}

DIV.wizardpanel
{
	background-color:#ffffff;
	font-family:Verdana, Arial;
	color:#000000;
	font-size:11px;
	
	MARGIN-RIGHT: 10px;
	MARGIN-LEFT: 10px;
	MARGIN-TOP: 10px;
	MARGIN-BOTTOM: 10px;
	BORDER-RIGHT: #ccffcc 10px solid; 
	BORDER-TOP: #ccffcc 10px solid; 
	BORDER-LEFT: #ccffcc 10px solid; 
	BORDER-BOTTOM: #ccffcc 10px solid;
	PADDING-RIGHT: 10px; 
	PADDING-LEFT: 10px; 
	PADDING-BOTTOM: 10px; 
	PADDING-TOP: 10px; 
	WIDTH: 100%; 
}
SPAN.feedback
{
	color:#ff0000;
	font-weight: bold;
}
TABLE.wizardtable TD
{
	font-weight: normal; 
	color: #003366; 
	height: 25px;
	border-collapse:collapse;
	padding-left:5px;
	vertical-align:middle;
}
TABLE.wizardtable TD.label 
{
	font-weight: bold; 
	height: 20px; 
	background-color: #ccffcc; 
	text-align: right;
	font-size: 11px;
	vertical-align:top;
	padding:5px
}

/* end of wizard section */
