<%@ Control Language="c#" AutoEventWireup="True" Codebehind="SFReportCriteria.ascx.cs" Inherits="Frond.Reports.SFReportCriteria" TargetSchema="http://schemas.microsoft.com/intellisense/ie5" %>
<div><asp:label id="lblCriteriaName" runat="server"></asp:label><br>
	<asp:ListBox id="lstMain" runat="server" SelectionMode="Multiple" Height="152px"></asp:ListBox>
	<asp:TextBox id="txtHiddenCriteriaDefinitionID" runat="server" Visible="False"></asp:TextBox>
	<asp:TextBox id="txtHiddenFieldName" runat="server" Visible="False"></asp:TextBox></div>
