<%@ Control Language="c#" AutoEventWireup="True" Codebehind="AddressTypeDropDowList.ascx.cs" Inherits="Frond.UserControls.AddressTypeDropDowList" TargetSchema="http://schemas.microsoft.com/intellisense/ie5" %>
<asp:DropDownList id="lckAddressType" runat="server" Width="200px" CssClass="lookupcontrol"></asp:DropDownList>
