<%@ Control Language="c#" AutoEventWireup="false" Codebehind="FinancialYearDropDownList.ascx.cs" Inherits="Frond.UserControls.FinancialYearDropDownList" TargetSchema="http://schemas.microsoft.com/intellisense/ie5" %>
<asp:DropDownList id="lckFinancialYear" runat="server" Width="60px" CssClass="lookupcontrol" AutoPostBack="True"></asp:DropDownList>
