<%@ Control Language="c#" AutoEventWireup="True" Codebehind="RandomImage.ascx.cs" Inherits="Frond.UserControls.RandomImage" TargetSchema="http://schemas.microsoft.com/intellisense/ie5"%>
<P>
	<asp:Label id="uxPlaceholder" runat="server"></asp:Label></P>
