<%@ Control Language="c#" AutoEventWireup="True" Codebehind="SFFinancialYearDropDownList.ascx.cs" Inherits="Frond.UserControls.SFFinancialYearDropDownList" TargetSchema="http://schemas.microsoft.com/intellisense/ie5"%>
<asp:DropDownList id="lckFinancialYear" runat="server" Width="60px" CssClass="lookupcontrol" AutoPostBack="True"></asp:DropDownList>
