<%@ Control Language="c#" AutoEventWireup="True" Codebehind="Title.ascx.cs" Inherits="Frond.UserControls.Title" TargetSchema="http://schemas.microsoft.com/intellisense/ie5"%>
<table class="titlebartable">
	<tr>
		
			<td class="titleicon"><asp:Label id="lblImage" runat="server"></asp:Label></td>
		<td width="100%">
			<asp:Label id="lblTitle" runat="server"></asp:Label></td>
			<td></td>
	</tr>
</table>
